.loading{
   display: flex;
   width: 80%;
   margin: auto;
}
.markdownarea>textarea{
    height: 500px;
    width: 100%;
    background-color: #f2f2f2;
    outline:0;
    border: none;
    font-size: 18px;
}
.markdownarea{
    width: 50%;
}
.preview{
    background-color: #e3dcdc;
    width: 50%;
    height: 500px;
    font-size: 20px;
}
/* textarea:focus{
    
} */
